*.csproj
*.csproj.user
*.unityproj
*.sln
*.suo
*.sublime-*
*.userprefs
*.apk
*.user

.vs/
.tempfiles
Library/
Temp/
obj/
private/

Unity/MLAPIEnemyTest/Assembly-CSharp*
Unity/MLAPIEnemyTest/.vs/

Unity/MLAPIEnemyTest/Build


